@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

.cookie-modal {
    position: fixed;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to left, #38cab2, #172842);
    border: 2px solid #38cab2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }
  
  .cookie-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  
  .cookie-content p {
    margin-bottom: 10px;
  }
  
  .cookie-content button {
    padding: 10px 20px;
    background-color: #FF8630;
    color: #fff;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
  }
  
  .cookie-content button:hover {
    background-color: #fe791a;
  }
  