@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');


/* banner */
.banner-planejamento-tributario {
    width: 1200px;
    margin: 110px auto;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #172842;
    height: 600px; 
}

.banner-planejamento-tributario img {
    width: 600px;
    margin-left: 60px;
}

.banner-planejamento-tributario h1 {
    font-size: 70px;
    line-height: 80px;
}

.banner-planejamento-tributario p {
    font-size: 18px;
    width: 600px;
    margin-top: -40px;
    height: 162px;
}
/* banner */

/* contato */

.contato {
    background-color: #B6CAD8;
    color: #172842;
    text-align: center;
    padding: 30px 20px;
}

.contato h1 {
    font-size: 40px;
    width: 1200px;
    margin: 20px auto;
}

.contato .Link {
    background-color: #4ECFBA;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.contato .Link:hover {
    cursor: pointer;
    background-color: #017379;
}

/* contato */

/* atuações */

.atuacoes-section {
    margin: 60px auto;
    color: #172842;
    width: 1040px;
}

.atuacoes {
    display: flex;
}

.atuacoes-section .p_conheca {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

/* atuações */

/* Cards atuações */

.card_planejamento1 {
    display: flex;
    width: 1045px;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}


.wrapper {
    max-width: 1000px;
    /* margin: 0 auto; */
    /* margin-left: 20px; */
}

.wrap-div-list {
    margin: 10px;
}

/* .h1_card {
	text-align: center;
	margin: 60px 0 40px 0;
	font-size: 1.5em;
	color: #6B7C93;
	font-family: sans-serif;
	text-transform: uppercase;
} */

.lista_item {
    background-color: #017379;
    border-radius: 4px;
    margin-bottom: 0px;
    padding: 0px;
    box-shadow: 0 2px 6px rgba(50,50,90,.1);
}

.faq_titulo {
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    width: 482px;
    cursor: pointer;

    
} 


.trigger_wrapper {
    width: 500px;
}

.faq_titulo::before {
	content: '';
	display: inline-block;
	height: 12px;
	width: 24px;
	margin-right: 10px;
	background: #017379;
    cursor: pointer;
}

.faq_titulo::after {
	content: '+';
	float: right;
	transition: transform .3s ease;
    margin-left: 30px;
    
}

.faq_conteudo {
    padding: 15px;
    color: rgb(23, 40, 66);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    display: none;
    background-color: rgb(214, 251, 253);
    margin: 0px;
    width: 470px;
    margin: 0px;
    transition: transform 0.3s ease 0s;
}

.trigger_input {
	display: none;
}

.trigger_input:checked + .trigger_wrapper .faq_conteudo {
	display: block;
    
}

.trigger_input:checked + .trigger_wrapper .faq_titulo::after {
	transform: rotate(45deg) scale(1.08);
    
}

.ul {
    display: block;
    text-align: justify;
}

.ul li {
    margin: 15px;
    /* list-style: none; */
    font-size: 18px;
}

.people {
    display: flex;
    width: 1300px;
    margin: auto;
    height: 100%;
    padding: 5px;
}

.h1_o_que_fazemos {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 50px;
    color: #172842;
}

.p_o_que_fazemos {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #172842;
    width: 900px;
    margin: auto;
    padding-bottom: 50px;
}


/* Cards atuaçoes */

/* como fazemos */

.como_Fazemos {
    background-color: #B6CAD8;
    padding: 30px;
}

.como_Fazemos h2 {
    text-align: center;
    font-size: 40px;
    color: #172842;
    font-family: 'Open Sans', sans-serif;
}

.como_Fazemos p {
    font-family: 'Open Sans';
    font-size: 18px;
    width: 900px;
    margin: auto;
    text-align: center;
}

.cards_como_fazemos {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.como_fazemos_card_one {
    width: 200px;
    height: 155px;
    background-color: #fff;
    border-radius: 4px;
    border-bottom: 7px solid #FF8630;
    padding: 10px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.como_fazemos_card_one p{    
    width: 200px;
    color: #172842;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}

.h3_como_fazemos{
    color: #017379;
    margin-bottom: 10px;
    margin-top: 0px;
}

.cards_title {
    font-weight: 600;
    font-size: 'Open Sans';
}
/* como fazemos */

/* conheca nossos servicos */

.sc-servicos {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.cardos_servicos_planeja {
    display: block;
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    color: #172842;
    margin: 40px;
}

.cardos_servicos_planeja ul{
    display: block;
    width: 250px;
    margin-left: 0px;
}

.h2_servicos {
    text-align: center;
    color: #172842;
    margin: 50px auto 10px;
    font-size: 30px;
}
/* conheca nossos servicos */

.servicos_link_o_que_Fazemos{
    color: #172842;
    transition: all 1s;
}

.servicos_link_o_que_Fazemos:hover {
    color: #017379;

}

.servicos_link_o_que_Fazemos span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1;
}

.servicos_link_o_que_Fazemos span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 1s;
}


.servicos_link_o_que_Fazemos:hover span {
    padding-right: 15px;
}

.servicos_link_o_que_Fazemos:hover span:after {
    opacity: 1;
    right: 0;
   }

@media (max-width: 1300px){

    .banner-planejamento-tributario {
        width: 1182px;
        margin: 110px auto;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        color: #172842;
    }

    .cardos_servicos_planeja {
        display: block;
        width: 203px;
        font-family: 'Open Sans', sans-serif;
        color: #172842;
        margin: 40px;
    }
}

@media (max-width: 1481px) {
    .banner-planejamento-tributario {
        width: 1300px;
        margin: 81px auto;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        color: #172842;
        height: 600px;
    }

    .banner-planejamento-tributario h1 {
        font-size: 60px;
        line-height: 80px;
    }

    .banner-planejamento-tributario p {
        font-size: 17px;
        width: 585px;
        margin-top: -40px;
        height: 162px;
    }

    .banner-planejamento-tributario img {
        width: 545px;
    }

    .texto_planejamento {
        margin-left: 100px;
    }

}


@media (max-width: 1600px) {
    .banner-planejamento-tributario h1 {
        font-size: 53px;
        line-height: 57px;
    }

    .banner-planejamento-tributario {
        width: 1254px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        color: #172842;
        height: 600px;
    }

    .banner-planejamento-tributario img {
        width: 452px;
    }

    .banner-planejamento-tributario {
        width: 1200px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        color: #172842;
        height: 600px;
        /* margin-left: -44px; */
    }

    .texto_planejamento {
        margin-left: 151px;
    }

    .banner-planejamento-tributario p {
        font-size: 17px;
        width: 535px;
        margin-top: -30px;
        height: 162px;
        text-align: justify;
    }

    .contato h1 {
        font-size: 40px;
        width: 100%;
        margin: 20px auto;
    }

    .ul {
        display: block;
        text-align: justify;
        width: 435px;
        margin: auto;
    }

    .ul li {
        margin: 15px;
        /* list-style: none; */
        font-size: 18px;
    }

    .cardos_servicos_planeja ul{
        display: block;
        width: 210px;
        margin-left: 0px;
    }

    li {
        /* display: none; */
        font-size: 14px;
    }

    .servicos_link_o_que_Fazemos {
        color: #172842;
        transition: all 1s;
        font-size: 14px;
    }
}