@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

/* Banner */



:root {
    --swiper-theme-color: #949494;
}

.banner {
    padding-top: 35px;
    height: 700px;
    z-index: 0;
}
  

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .card-one-h1 {
    /* width: 400px; */
    font-size: 50px;
    color: #fff;
    width: 800px;
    margin: 30px auto;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-size: 25px;
    transition: 0.3s;
}

.swiper-button-prev:hover {
    color: #fff;
}

.swiper-button-next:hover {
    color: #fff;
}


/* relogio de tempo banner */
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #17284200;
}
  
.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #17284200;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* relogio de tempo banner */

.bullet {
    color: #172842;
}


.img-banner-001 {
    width: 50px;
    height: 50px;
}

.slide-one {
    width: 1300px;
    /* display: flex; */
    /* justify-content: space-around; */
}



.slide-two {
    display: flex;
    justify-content: space-around;
    background-color: #d9e4ed;
}

.swiper-slide .img-banner-001 {
    /* width: 599px; */
    width: 100%;
    height: 600px;
    position: absolute;
}

.swiper-slide .logo-gptw {
    width: 305px;
    height: 69px;
    
    margin-top: 5px;
    display: flex;
    /* margin-left: 155px; */
    justify-content: left;
    align-items: left;
    float: left;

}

.texto-slide-one {
    width: 850px;
    margin: auto;
    color: #172842;
    text-align: left;
    font-size: 30px;
}

.texto-slide-one-principal {
    width: 1100px;
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-left: 200px;
    z-index: 2;
}


.texto-slide-one-principal h1 {
    width: 600px;
    top: -30px;
    color: #fff;
}


#img-banner-002 {
    width: 1241px;
    height: 700px;
    margin-left: 19%;
    margin-top: -48px;
  }
  
  .slide-content {
    position: absolute;
    top: 50%; /* Posiciona o conteúdo no centro verticalmente */
    left: 10%; /* Define a margem esquerda do texto */
    transform: translateY(-50%); /* Corrige a posição vertical do conteúdo */
    color: #fff; /* Cor do texto */
  }


  .btn-reforma {
    background-color: #38cab2;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 25px;
    font-family: 'Open sans', sans-serif;
  }

  .btn-reforma:hover {
    background-color: #38cab2;
    color: #ebebeb;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 25px;
    font-family: 'Open sans', sans-serif;
  }

  /*  Banner */


/* mobile banner */


/* 14 polegadas */

@media (max-width: 1589px) {

    .slide-one {
        display: flex;
        justify-content: space-around;
    }
    
    .swiper-slide img {
        width: 350px;
        height: 350px;
        margin: auto;
    
    }

    .swiper-slide .logo-gptw {
        margin-top: 5px;
        display: flex;
        /* margin-left: 155px; */
    }

    .swiper-slide h1 {
        /* width: 400px; */
        font-size: 37px;
        color: #172842;
        margin: 30px auto;
    }


    .texto-slide-one {
        width: 600px;
        margin: auto;
        color: #172842;
    }

}

@media (max-width: 1001px) {
    .slide-one {
        display: block;
        justify-content: space-around;
    }
    
    .swiper-slide img {
        width: 300px;
        height: 300px;
        margin: auto;
    
    }

    .swiper-slide .logo-gptw {
        margin-top: 60px;
    }

    .swiper-slide h1 {
        font-size: 38px;
        color: #172842;
        margin: 60px auto 10px;
        text-align: justify;
    }


    .texto-slide-one {
        width: 600px;
        margin: auto;
        color:  #172842;
    }
}

@media (max-width: 654px) {

    .slide-one {
        display: block;
        justify-content: space-around;
    }
    
    .swiper-slide img {
        width: 250px;
        height: 250px;
        margin: auto;
    
    }

    .swiper-slide .logo-gptw {
        margin-top: 60px;
    }

    .swiper-slide h1 {
        font-size: 38px;
        color: #172842;
        width: 300px;
        margin: 60px auto 20px;
        text-align: justify;
        text-align: center;
    }

    .texto-slide-one {
        width: 290px;
        margin: auto;
        color: #172842;
    }
}

/* mobile banner */


.servicos {
    /* max-width: 1200px; */
    height: 600px;
    margin: auto;
}

.serv_card_flex {
    margin: auto;
    width: 1156px;
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    width: 1176px;
    display: flex;
    /* flex-wrap: wrap; */
}

.servicos h1 {
    text-align: center;
    font-size: 42px;
    margin-top: 80px;
    color: #172842;
    font-family: 'Open Sans', sans-serif;
}

.swiper-3d .swiper-slide, .swiper-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
    height: 367px;
}

.cards-servicos {
    background-color: #172842;
    height: 350px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15px 30px;
}

.planejamento {
    background-image: url('/Imagem_Servicos_Planejamento_Tributario_Box.png');
    /* filter: brightness(50%); */
    background-size: cover;
  
}

.compliance {
    background-image: url('/Imagem_Servicos_Compliance_Tributario_Box.png');
    /* filter: brightness(50%); */
    background-size: cover;
  
}

.consultoria {
    background-image: url('/Imagem_Servicos_Consultoria_Tributaria_Box.png');
    /* filter: brightness(50%); */
    background-size: cover;
  
}

.technology {
    background-image: url('/Imagem_Servicos_Tax_Technology_Box.png');
    /* filter: brightness(50%); */
    background-size: cover;
  
}


.planejamento_link {
    color: #fff;
}

.planejamento_link:hover {
    color: #fff;
}








/* teste animação planejamento */

  .card {
  width: 300px;
  height: 354px;
  /* background: rgb(103, 225, 255); */
  transition: all 1s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
}

.card span {
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px 10px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  /* background: rgb(103, 151, 255); */
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 1s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.cardBox {
    width: 274px;
    height: 350px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.card {
    position: absolute;
    width: 95%;
    height: 95%;
    /* background: #000814; */
    border-radius: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
}
  
.card .h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 800;
    text-align: left;
    pointer-events: none;
    /* opacity: .5; */
    color: #ffffff;
}
  
.card .content .h3 {
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #FF8630;
    font-family: 'Open Sans', sans-serif;
}
  
.card .content p {
    font-size: 14px;
    line-height: 1.4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 210px;
    margin: auto;
    text-align: center;
}

.card .content a {
    font-size: 14px;
    line-height: 1.4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 260px;
    margin: auto;
    text-align: justify;
    text-decoration: underline;
}
  
  .card .content {
    transform: translateY(10%);
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  
  .card:hover .content {
    transform: translateY(0);
    opacity: 1;
  }
  
  .card:hover .h4 {
    opacity: 0;
  }

  @keyframes glowing_401 {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  



/* teste animação planejament */











.cards-servicos h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

/* .cards-servicos a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #172842;
} */

.Swiper-servicos {
    height: 400px;
    width: 900px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, 355px);
    left: 0;
    width: 100%;
} */



/* banner materiais */

.banner-materias {
    display: flex;
    background-image: linear-gradient(#017379, #4ECFBA);
    align-items: center;
    color: #fff;
}

.banner-materias h2 {
    font-size: 40px;
}

.img-materiais {
    width: 300px;
}

/* banner materiais */


/* Youtube */

.section-youtube {
    margin-top: -50px;
    background-color: #172842;
    height: 600px;
}

.section-youtube-div {
    display: flex;
    margin: auto;
    width: 870px;
}

.iframe-principal {
    width: 640px;
    height: 396px;
}

.section-youtube iframe {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #4ECFBA;
}

.section-youtube h2 {
    color: #fff;
    font-size: 35px;
    margin-top: 50px;
    text-align: center;
    padding-top: 60px;
}

.iframes-videos {
    margin-right: 20px;
}

.iframes-list iframe {
    margin-bottom: 15px;
}


/* Youtube mobile */

@media screen and (max-width: 576px ) {
    .section-youtube {
        margin-top: -50px;
        background-color: #172842;
        height: 100%;
    }
    
    .section-youtube-div {
        display: block;
        margin: auto;
        width: 402px;
    }

    .iframe-principal {
        width: 340px;
        height: 196px;
    }

    .section-youtube iframe {
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 2px solid #4ECFBA;
    }
    
    .section-youtube h2 {
        color: #fff;
        font-size: 35px;
        margin-top: 50px;
        text-align: center;
        padding-top: 60px;
    }
    
    .iframes-videos {
        /* margin-right: 20px; */
        height: 100%;
    }
    
    .iframes-list iframe {
        margin: 15px auto;
       
    }

    .banner-materias h2 {
        font-size: 33px;
        margin-left: -300px;
        padding: 20px;
        background-color: #172842df;
    }
}

@media screen and (max-width: 992px ) {
    .section-youtube {
        margin-top: -50px;
        background-color: #172842;
        height: 100%;
    }
    
    .section-youtube-div {
        display: block;
        margin: auto;
        width: 429px;
    }

    .iframe-principal {
        width: 340px;
        height: 196px;
    }

    .section-youtube iframe {
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 2px solid #4ECFBA;
    }
    
    .section-youtube h2 {
        color: #fff;
        font-size: 35px;
        margin-top: 50px;
        text-align: center;
        padding-top: 60px;
    }
    
    .iframes-videos {
        /* margin-right: 20px; */
        height: 100%;
    }
    
    .iframes-list iframe {
        margin-bottom: 15px;
    }
}

/* Youtube mobile */

/* Youtube */

/* revista online */

.revista-online {
    height: 700px;
    margin-bottom: 80px;
}

.revista-online h1 {
    text-align: center;
    color: #172842;
    font-size: 35px;
    display: flex;
    margin: 80px auto 0px;
    width: 1135px;
}

.revista-online h2 {
    color: #FF8630;
    font-size: 30px;
}

.revista-div-texto {
    width: 600px;
    margin-left: 135px;
}

.revista-div-texto p {
    font-size: 25px;
    width: 485px;
}

.revista-div-flex {
    display: flex;
    align-items: center;
}

.revista-div-flex img {
    width: 510px;
}

.revista-div-texto a {
    background-color: #38cab2;
    padding: 10px 30px;
    border-radius: 5px;
}

/* revista online */

.cards-servicos {
    margin: 10px;
    transition-duration: 0ms;
    transition-delay: 0ms;
    transform: translate3d(-10px, 0px, 0px);
}



@media screen and (max-width: 7130px ) { 

    .banner-materias {
        display: flex;
        background-image: linear-gradient(#017379, #4ECFBA);
        align-items: center;
        color: #fff;
        justify-content: center;
    }

    .revista-div-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.tradu {
    /* margin: 94px 1371px -140px; */
   
    display: flex;
    position: relative;
    align-items: center;
    z-index: 2;
}
