@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

/* Banner */

:root {
    --swiper-theme-color: #949494;
}

.banner {
    margin-top: 100px;
    height: 700px;
    z-index: 0;
}
  

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #172842; */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #172842;
}
  
.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #172842;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.bullet {
    color: #172842;
}


.img-banner-001 {
    width: 50px;
    height: 50px;
}

.slide-one {
    display: flex;
    justify-content: space-around;
}


.slide-two {
    display: flex;
    justify-content: space-around;
    background-color: #d9e4ed;
}

.swiper-slide .img-banner-001 {
    width: 599px;
    height: 561px;
}

.swiper-slide .logo-gptw {
    width: 300px;
    height: 69px;
    /* margin: auto; */

}

.texto-slide-one {
    width: 850px;
    margin: auto;
    color: #172842;
    text-align: left;
    font-size: 30px;
}


#img-banner-002 {
    width: 100%;
    height: 700px;
  }
  
  .slide-content {
    position: absolute;
    top: 50%; /* Posiciona o conteúdo no centro verticalmente */
    left: 10%; /* Define a margem esquerda do texto */
    transform: translateY(-50%); /* Corrige a posição vertical do conteúdo */
    color: #fff; /* Cor do texto */
  }


  .btn-reforma {
    background-color: #38cab2;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 25px;
    font-family: 'Open sans', sans-serif;
  }

  .btn-reforma:hover {
    background-color: #38cab2;
    color: #ebebeb;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 25px;
    font-family: 'Open sans', sans-serif;
  }

  /*  Banner */


/* mobile banner */

@media (max-width: 1589px) {

    .slide-one {
        display: flex;
        justify-content: space-around;
    }
    
    .swiper-slide img {
        width: 350px;
        height: 350px;
        margin: auto;
    
    }

    .swiper-slide .logo-gptw {
        margin-top: 60px;
    }

    .swiper-slide h1 {
        width: 400px;
        font-size: 38px;
        color: #172842;
        margin: 60px auto;
        text-align: justify;
    }


    .texto-slide-one {
        width: 600px;
        margin: auto;
        color: #172842;
    }

}

@media (max-width: 1001px) {
    .slide-one {
        display: block;
        justify-content: space-around;
    }
    
    .swiper-slide img {
        width: 300px;
        height: 300px;
        margin: auto;
    
    }

    .swiper-slide .logo-gptw {
        margin-top: 60px;
    }

    .swiper-slide h1 {
        font-size: 38px;
        color: #172842;
        margin: 60px auto 10px;
        text-align: justify;
    }


    .texto-slide-one {
        width: 600px;
        margin: auto;
        color:  #172842;
    }
}

@media (max-width: 654px) {

    .slide-one {
        display: block;
        justify-content: space-around;
    }
    
    .swiper-slide img {
        width: 250px;
        height: 250px;
        margin: auto;
    
    }

    .swiper-slide .logo-gptw {
        margin-top: 60px;
    }

    .swiper-slide h1 {
        font-size: 38px;
        color: #172842;
        width: 300px;
        margin: 60px auto 20px;
        text-align: justify;
        text-align: center;
    }

    .texto-slide-one {
        width: 290px;
        margin: auto;
        color: #172842;
    }
}

/* mobile banner */


.servicos {
    max-width: 1200px;
    height: 600px;
    margin: auto;
}

.servicos h1 {
    text-align: center;
    font-size: 42px;
    margin-top: 80px;
    color: #172842;
    font-family: 'Open Sans', sans-serif;
}

.swiper-3d .swiper-slide, .swiper-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
    height: 367px;
}

.cards-servicos {
    background-color: #172842;
    height: 350px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15px 30px;
}

.planejamento {
    background-image: url('/clientes/Imagem_Servicos_Planejamento_Tributario_Box.png');
    /* filter: brightness(50%); */
    background-size: cover;
}

.planejamento_link {
    color: #fff;
}

.planejamento_link:hover {
    color: #fff;
}

.cards-servicos h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

/* .cards-servicos a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #172842;
} */

.Swiper-servicos {
    height: 350px;
}

/* banner materiais */

.banner-materias {
    display: flex;
    background-image: linear-gradient(#017379, #4ECFBA);
    align-items: center;
    color: #fff;
}

.banner-materias h2 {
    font-size: 40px;
}

.img-materiais {
    width: 300px;
}

/* banner materiais */


/* Youtube */

.section-youtube {
    margin-top: -50px;
    background-color: #172842;
    height: 600px;
}

.section-youtube-div {
    display: flex;
    margin: auto;
    width: 870px;
}

.iframe-principal {
    width: 640px;
    height: 396px;
}

.section-youtube iframe {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #4ECFBA;
}

.section-youtube h2 {
    color: #fff;
    font-size: 35px;
    margin-top: 50px;
    text-align: center;
    padding-top: 60px;
}

.iframes-videos {
    margin-right: 20px;
}

.iframes-list iframe {
    margin-bottom: 15px;
}


/* Youtube mobile */

@media screen and (max-width: 576px ) {
    .section-youtube {
        margin-top: -50px;
        background-color: #172842;
        height: 100%;
    }
    
    .section-youtube-div {
        display: block;
        margin: auto;
        width: 402px;
    }

    .iframe-principal {
        width: 340px;
        height: 196px;
    }

    .section-youtube iframe {
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 2px solid #4ECFBA;
    }
    
    .section-youtube h2 {
        color: #fff;
        font-size: 35px;
        margin-top: 50px;
        text-align: center;
        padding-top: 60px;
    }
    
    .iframes-videos {
        /* margin-right: 20px; */
        height: 100%;
    }
    
    .iframes-list iframe {
        margin: 15px auto;
       
    }

    .banner-materias h2 {
        font-size: 33px;
        margin-left: -300px;
        padding: 20px;
        background-color: #172842df;
    }
}

@media screen and (max-width: 992px ) {
    .section-youtube {
        margin-top: -50px;
        background-color: #172842;
        height: 100%;
    }
    
    .section-youtube-div {
        display: block;
        margin: auto;
        width: 429px;
    }

    .iframe-principal {
        width: 340px;
        height: 196px;
    }

    .section-youtube iframe {
        display: block;
        margin: auto;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 2px solid #4ECFBA;
    }
    
    .section-youtube h2 {
        color: #fff;
        font-size: 35px;
        margin-top: 50px;
        text-align: center;
        padding-top: 60px;
    }
    
    .iframes-videos {
        /* margin-right: 20px; */
        height: 100%;
    }
    
    .iframes-list iframe {
        margin-bottom: 15px;
    }
}

/* Youtube mobile */

/* Youtube */