@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

.banner-institucional {
    margin-top: 50px;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
}

.banner-institucional h1 {
    font-size: 50px;
    margin-left: 70px;
    color: #172842;
}

.institucional-p {
    font-family: "Open Sans";
    font-size: 20px;
    width: 1200px;
    margin: auto;
}

