@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

.banner-institucional {
    margin-top: 25px;
    margin-bottom: -100px;
    display: flex;
    align-items: center;
    font-family: "Open Sans";
    margin: auto;
    width: 1300px;
}

.banner-institucional h1 {
    font-size: 50px;
    /* margin-left: 160px; */
    color: #172842;
    width: 679px;
}

.institucional-p {
    font-family: "Open Sans";
    font-size: 20px;
    width: 1300px;
    margin: auto;
}

.institucional-socios {
    display: flex;
    width: 1300px;
    margin: 100px auto;
    align-items: center;
}

.institucional-socios img {
    width: 450px;
}

.institucional-socios .h-socios {
    font-size: 20px;
    text-align: justify;
    margin: 20px 75px 20px 20px;
    width: 1405px;
}

.Video-institucional {
    display: flex;
    margin: auto;
    justify-content: center;
}

.Video-institucional iframe {
    border-radius: 10px;
    margin-bottom: 150px;
}

.desc-img-socios {
    font-size: 16px;
}

.dedicacao {
    background-color: #172842;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dedicacao h1 {
    font-size: 45px;
}

.imgPessoas {
    width: 100%;
}

/* linha do tempo */

/* .ano-2014 {

} */

.ano-2014 p {
    width: 230px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.linha-do-tempo {
    font-family: 'Open Sans', sans-serif;
    color: #172842;
    display: flex;
    margin: 60px auto;
    width: 1356px;
}

.img-2014 {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px -10px;
}

.img-ano-2016 {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 7px;
}

.img-ano-2020 {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px -6px;
}

.img-ano-2021 {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px -6px;
}

.linha-do-tempo .ano-2014 h1 {
    /* text-align: center; */
    margin-top: -10px;
    font-size: 30px;
    font-weight: 600;
}

.bullet-line {
    display: flex; 
}

.bullet-line hr{
    border: 2px dashed #17284295;
    width: 260px;
}

.bullet {
    background-color: #598089;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #3bd3ba;
    text-align: center;
    transition: 0.5s;
}

.bullet:hover {
    background-color: #172842;
    cursor: pointer;
}


/* Nossos valores */

.nossos-valores {
    display: flex;
    width: 790px;
    margin: 10px auto 80px;
    flex-wrap: wrap;
}

.card-valores {
    width: 250px;
    height: 150px;
    background-color: #CDEDEF;
    border-radius: 5px 5px 0px 0px ;
    margin-left: 10px;
}

.comprometimento-h1 {
    background-color: #017379;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px ;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.reputacao-h1 {
    background-color: #4B5999;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px ;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.qualidade-h1 {
    background-color: #778693;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px ;
    text-align: center;
    font-weight: 600;
    margin: 0;
}


.comprimetimento-p {
    padding: 0px 10px;
    font-size: 16px;
    background-color: #CDEDEF;
}

.reputacao-p {
    padding: 0px 10px;
    font-size: 16px;
    background-color: #D7DEFF;
}

.qualidade-p {
    padding: 0px 10px;
    font-size: 16px;
    background-color: #D9E4ED;
}

.icone-check {
    background-color: #017379;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}

.icon-coracao {
    background-color: #4B5999;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}
/* Nossos valores */