.a {
    color: #fff;
    text-decoration: none;
  }

.pg_footer {
    font-family: 'Roboto', sans-serif;
  }
  
  .footer {
      /* background-color: #5e6770; */
      background-color: #182a44;
      color: #fff;
      font-family: 'Open Sans';
      margin: -13px;
      width: 100.8%;

  }
  .footer_wave_svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  
  /* .footer_wave_path {
      fill: #fffff200;
  } */
  
  .footer_content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 395px;
      position: relative;
  }
  
  .footer_content_column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer_content_column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer_logo_link {
      display: inline-block;
  }
  .footer_menu {
      margin-top: 30px;
  }
  
  .footer_menu_name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer_menu_list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer_menu_list li {
      margin-top: 5px;
  }
  
  .footer_call_to_action_description {
      color: #ffffff;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer_call_to_action_button:hover {
      background-color: #4ecfba;
      color: #fff;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer_call_to_action_button {
    background-color: #778693;
    border-radius: 5px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 22px 12px 0px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
  }
  .footer_call_to_action {
      margin-top: 30px;
  }
  .footer_call_to_action_title {
      color: #ffffff;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer_call_to_action_link_wrapper a {
    color: #fff;
    text-decoration: none;
    margin-right: 511px;
  }
  
  .footer_call_to_action_link_wrapper a {
      color: #fff;
      text-decoration: none;
  }

  .footer_call_to_action_link {
    color: #fff;
    display: flex;
    text-decoration: none;
    margin-right: 1px;
    width: 261px;
  }

  .gptw {
    margin-bottom: -20px;
    width: 55px;
  }
  
  .footer_social_links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer_social_amoeba_svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer_social_amoeba_path {
      fill: #778693;
  }
  
  .footer_social_link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer_social_link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden_link_text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer_social_icon_svg {
      display: block;
  }
  
  .footer_social_icon_path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer_social_link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer_social_link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer_social_link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer_copyright {
    background-color: #182a44;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    border-top: 2px solid #24505e;
  }
  
  .footer_copyright_wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer_copyright_text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer_copyright_link {
      color: #fff;
      text-decoration: none;
  }
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer_content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer_content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer_content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  @media (min-width: 760px) {
    .footer_content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 395px;
        position: relative;
    }
  
    .footer_wave_svg {
        height: 50px;
    }
  
    .footer_content_column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }

  /* Empresas */

.Clientes {
    width: 1000px;
    margin: auto;
  }
  
  .empresas {
    border: 2px solid red;
  }
  
  .Clientes .empresas img {
    width: 130px;
    padding: 50px;
  }
  
  .cli {
    display: flex;
    margin-top: 100px;
  }
  
  
  .cli .desc_cli {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cli .desc_cli h2 {  
      margin: 0 200px;
      width: 400px;
      color: #2e41669a;
      text-align: justify;
      font-family: 'Open Sans' sans-serif;
      font-size: 500;
  }
  
  .logo_cli {
    width: 500px;
  }
  
  .Nossos_diferenciais {
    height: 400px;
  }
  
  #redesLinks {
    position: relative;
    width: 25px;
    align-items: center;
    justify-content: center;
    top: 13px;
    margin-right: -52px;
    padding-left: 5px;
    transition: 0.5s;
    padding: 4.5px 5px;
    left: -5px;
  }
  
  #redesLinks:hover {
    /* transform: scale(1.1); */
    padding: 4.5px 5px;
    background-color: #506295;
    border-radius: 5px;
  }
  
  #redesYout {
    position: relative;
    width: 25px;
    align-items: center;
    justify-content: center;
    top: 13px;
    margin-right: -52px;
    padding-left: 5px;
    transition: 0.5s;
    padding: 4.5px 5px;
    left: 45px;
  }
  
  #redesYout:hover {
    /* transform: scale(1.1); */
    padding: 4.5px 5px;
    background-color: #e40000;
    border-radius: 5px;
  }
  
  
  #redesInsta {
    position: relative;
    width: 25px;
    align-items: center;
    justify-content: center;
    top: 13px;
    margin-right: -52px;
    padding-left: 5px;
    transition: 0.5s;
    padding: 4.5px 5px;
    left: 95px;
  }
  
  #redesInsta:hover {
    /* transform: scale(1.1); */
    padding: 4.5px 5px;
    /* background-color: #e40094; */
    background-image: linear-gradient( 25deg, rgb(254, 136, 73), #a448ff, #ff5d5d);
    border-radius: 5px;
  }

  .redes {
    width: 26px;
    margin-right: 5px;
    transition: 0.5s;
  }

  .redes:hover {
    cursor: pointer;
    transform: scale(1.1);
  }