body {
  margin: 0;
  padding: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color:#fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Estilos para a barra de rolagem */
/* Barra de rolagem do WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

/* Estilos para a faixa da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da faixa */
}

/* Estilos para o polegar (handle) da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #172842; /* Cor do polegar */
  border-radius: 6px; /* Borda arredondada */
}

/* Estilos para o polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #172842; /* Cor do polegar ao passar o mouse */
}

/* Barra de rolagem do Firefox */
/* A estilização é limitada no Firefox */
/* Você pode tentar estilos adicionais aqui */
