body {
  margin: 0;
  padding: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color:#fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Estilos para a barra de rolagem */
/* Barra de rolagem do WebKit (Chrome, Safari) */
/* ::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #94a4af; 
}


::-webkit-scrollbar-thumb:hover {
  background: #94a4af; 
}


::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end {
 
} */

/* Barra de rolagem do Firefox */
/* A estilização é limitada no Firefox */
/* Você pode tentar estilos adicionais aqui */
